.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 80%; */
}

.betTable {
  width: 80%;
  box-shadow: 0 0 10px #888;
}

.title {
  text-transform: uppercase;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.resultSection {
  display: flex;
  width: 80%;
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.buttonSection {
  margin: 5px;
}
