.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.betTable {
  width: 80%;
  box-shadow: 0 0 10px #888;
}

.rowChangeButton {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.title {
  text-transform: uppercase;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.resultSection {
  display: flex;
  width: 80%;
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.appear {
  opacity: 0;
}

.appearActive {
  opacity: 1;
  transition: opacity 6000ms ease-in;
}